* {box-sizing: border-box}

.slideshow-container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: linear-gradient(to right, #c0c0c0, #317949); 
}
/* Hide all slides by default */
.slides {
    width: 1060px;
    height: 753px;
    background-color: rgba(255, 255, 255, 0.77);
    background-image: url(images/bg-2.jpg);
    background-size: contain;
    background-repeat: repeat-y;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 5%;
}
.content{
    position: inherit;
    color: black;
}
.slide{
    display: flex;
    align-items: center;
}
.grid-containter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: inherit;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.card {
    border: 2px solid #ddd; /* Border around the card */
    overflow: hidden; /* Ensure the image and content fit within the border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a lifted effect */
    max-width: 450px; /* Adjust size as needed */
    margin: 0 0; 
}

.card-image {
    width: 100%; /* Make the image fill the card's width */
    height: auto; /* Maintain the aspect ratio */
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media (min-width: 750px) {
    .content {
        font-size: xx-large
    }
    .wordy-content{
        font-size: x-large;
    }
}

/* Medium screens */
@media (min-width: 561px) and (max-width: 749px) {
    .content {
        font-size: x-large; /* Default font size or slightly larger for medium screens */
    }
    .wordy-content{
        font-size: large;
    }
}

/* Smaller screens */
@media (max-width: 560px) {
    .content {
        font-size: large; /* Smaller font size for small screens */
    }
    .wordy-content{
        font-size: medium;
    }
}